@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro';
  src: url('../assets/sf-pro-display/SFPRODISPLAYREGULAR.OTF');
  font-weight: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../assets/sf-pro-display/SFPRODISPLAYBOLD.OTF');
  font-weight: bold;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../assets/sf-pro-display/SFPRODISPLAYBLACKITALIC.OTF');
  font-weight: bold;
  font-style: italic;
}

/* semantic color variables for this project */
:root {
  --primary: #DA2F20;
  --primary_light:#E87E75;
  --secondary: #FFCF23;
  --calm: #2097DA;
  --dark: #8A8A8F;
  --half-gray: #C6C6C8;
  --half-dark: #F2F2F7; 
  --green: #2CA94C;
  --full-dark: #2C2C2E;

  --red_key: var(--primary)
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  min-height: 100vh;
  width: 100%;
  line-height: 1.6;
  font-family: 'SF Pro', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: darkscale;
}

#app{
  width: 100%;
}