@import './base.css';


@layer components {
    button {
        @apply bg-primary w-full p-4 text-white font-bold rounded-2xl
        duration-300 transition-all;
    }

    button:disabled,
    button[disabled] {
        @apply bg-primary_light
    }

    button.btn-type-2{
        @apply w-full p-4 font-bold rounded-2xl bg-transparent text-primary border-primary border-2
    }

    button.btn-type-3 {
        @apply w-full p-4 font-bold rounded-2xl bg-green-600 text-white
    }

    .label{
        @apply text-dark text-sm;
    }

    .sm-shadow{
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
    }

    h1{
        @apply text-xl font-bold;
    }

    .z-60{
        z-index: 60;
    }

    h2{
        @apply text-lg font-bold;
    }


}