@import './base.css';


@layer components {
    button {
        @apply bg-primary w-full p-3 text-white font-bold rounded-2xl
        duration-300 transition-all;
    }

    button:disabled,
    button[disabled] {
        @apply bg-primary_light;
    }

    button.btn-type-2{
        @apply w-full p-4 font-bold rounded-2xl bg-transparent text-primary border-primary border-2;
    }
    button.btn-type-2:disabled,
    .btn-type-2[disabled] {
        @apply border-primary_light text-primary_light;
    }

    button.btn-type-3 {
        @apply w-full p-4 font-bold rounded-2xl bg-green-600 text-white;
    }

    .btn-type-4{
        @apply py-2 px-4 bg-custom_blue w-fit min-w-32;
    }
    .btn-type-4.state-2{
        @apply bg-transparent border-2 border-custom_blue text-custom_blue;
    }

    .label{
        @apply text-dark text-sm;
    }

    .sm-shadow{
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
    }

    h1{
        @apply text-xl font-bold;
    }

    p{
        line-height: 1.25rem;
    }

    p.text-xl{
        line-height: 1.5rem;
    }

    .z-60{
        z-index: 60;
    }

    .border-b-1{
        border-bottom: 1px solid;
    }

    .border-r-1{
        border-right: 1px solid;
    }

    h2{
        @apply text-lg font-bold;
    }


}

.delay-enter-active,
.delay-leave-active {
    transition: opacity 0.5s ease;
}

.delay-enter-from,
.delay-leave-to {
    opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
    transition: transform 0.5s ease;
}

.scale-enter-from,
.scale-leave-to {
    transform: scale(0);
}